/*Componentes de estrutura*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Monomaniac+One&display=swap');
body{
  background: linear-gradient(to bottom, #f09819, #edde5d); 
  background-repeat: no-repeat;
  height: 200vh;
}
/*Componentes Header*/
.nav{
justify-content: flex-end;
margin-right: 50px;
}
.nav a{
  font-family: 'Monomaniac One', sans-serif;
  color: rgb(255, 255, 0);
}
nav a img{
  width: 200px;
}

/* button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
} */



/*Componentes pag*/
form{
  font-size: 18px;
  font-weight: 400;
}
input, select {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(73, 72, 72);
}
.textDestaque{
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 120px;
  font-size: 30px;
  font-weight: 800;
}
#nomeCompleto{
  padding-right: 300px;
}
#nacionalidade{
  position: absolute;
  left: 500px;
}
#cpf{
  padding-right: 300px;
  position: absolute;
  top: 60px;
}
#genero{
  position: absolute;
  left: 620px;
  padding-bottom: 30px;
}
input{
  font-size: 20px;
}
input[type=radio] {
  transform: scale(2.0);
  -webkit-transform: scale(2.0);
}
#femin{
  position: absolute;
  left: 260px;
  bottom: 0px;
}
#feminino{
  position: absolute;
  left: 220px;
  bottom: 14px;
}
#masc{
  position: absolute;
  left: 70px;
  bottom: 0px;
}
#masculino{
  position: absolute;
  left: 35px;
  bottom: 14px;
}
#celular{
  position: absolute;
  top: 130px;
  margin-left: 13px;
}
#email{
  padding-right: 300px;
  position: absolute;
  top: 220px;
}
#confirmarEmail{
  padding-right: 300px;
  position: absolute;
  left: 500px;
  top: 220px;
}
#senha{
  padding-right: 300px;
  position: absolute;
  top: 290px;
}
#confirmarSenha{
  padding-right: 300px;
  position: absolute;
  left: 500px;
  top: 290px;
}
h4{
  padding-right: 300px;
  position: absolute;
  top: 310px;
}

#nomeCartao{
  padding-right: 300px;
  position: absolute;
  top: 340px;
}
#numCartao{
  padding-right: 300px;
  position: absolute;
  left: 500px;
  top: 340px;
}
#dataCartao{
  padding-right: 300px;
  position: absolute;
  top: 380px;
}
#cvv{
  padding-right: 300px;
  position: absolute;
  left: 500px;
  top: 380px;
}
#termos{
  position: absolute;
  top: 520px;
}
#buttonCadastro{
  position: absolute;
  left: 600px;
  top: 500px;
}
.textoTermos{
  position: absolute;
  top: 530px;
  left: 70px;
}
input[type=checkbox]{
  transform: scale(2.0);
  -webkit-transform: scale(2.0);
}
::placeholder{
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
}




